extends layout/layout
block content
	.full-bg-img
		.container
			.space-30
			.space-30
			.verticalcenter.text-center
				.verticalcenter
					.animated.fadeInDown.white-text
						h4
							| ConVer
						hr.divider-short
						h5
							| Lleva un control de versiones de tus proyectos
						a.btn.btn-default.btn-stc.waves-effect.waves-light(href='/login')
							i.fa.fa-download.right
							| Iniciar sesión
						a.btn.btn-default.btn-stc.waves-effect.waves-light(href='/registro')
							i.fa.fa-download.right
							| Regístrate gratis
	