extends layout/layout
block content
	.full-bg-img
		.container
			.space-30
			.space-30
			.verticalcenter.text-center
				.verticalcenter
					.animated.rotateInDownLeft.white-text
						h4
							| ConVer
						hr.divider-short
						h5
							| Lleva un control de versiones de tus proyectos
						h5
							| Administra tus proyectos
						a.btn.btn-default.btn-stc.waves-effect.waves-light(href='/nuevoproyecto')
							i.fa.fa-download.right
							| Nuevo proyecto