extends layout/layout
block content
	.full-bg-img
		.container(ng-controller='inicioController')
			.space-30
			.space-30
			div
				div
					.animated.fadeInDown.white-text
						h4(style='text-align:center')
							| Inicia sesión
						hr.divider-short
						.row
							.col-md-2
							.col-md-8
								.card.white.z-depth-3
									.card-content.black-text
										.col-md-2
										#error
										form.col-md-8#registro(action='/login', method='POST')
											.row
												.input-field.col-md-12
													input.validate#email(type='email', name='correo', ng-model='usuario.correo', required)
													label(for="email" data-error="Correo ingresado erroneamente" data-success="✓")
														| Correo electrónico
											.row
												.input-field.col-md-12
													input.validate#password1(type='password', name='password', ng-model='usuario.password', required)
													label(for="password1" data-error="Ingrese su contraseña" data-success="✓")
														| Contraseña
											.row
												.col-md-6
													a.btn.btn-link(href='/registro', style='float:left')
														| Registrarme gratis
												.col-md-6
													input.btn.btn-primary(type='submit', value='Entrar', style='float:right')