#footer
	.container
		.row
			.col-md-12
				h3 SERGIT
				p
					| Pregunta por nuestras ofertas.
				ul.list-unstyled.social-icon
					li
						a.icon-facebook(href='#', rel='tooltip', title='Facebook')
							span
								i.fa.fa-facebook-square
					li
						a.icon-facebook(href='#', rel='tooltip', title='Facebook')
							span
								i.fa.fa-twitter
					li
						a.icon-facebook(href='#', rel='tooltip', title='Facebook')
							span
								i.fa.fa-instagram
					li
						a.icon-facebook(href='#', rel='tooltip', title='Facebook')
							span
								i.fa.fa-google-plus
				.sitemap
					ul
						li
							a(href='#') INICIO
						li
							a(href='#') ACERCA DE
						li
							a(href='#') CONTACTO